/************
 * 页面样式
 ************/

/* ==========
   自定义基本默认值(覆盖浏览器默认设置)
   ========== */

html
  font-size: 62.5%
  color: #222

::selection
  /*选中的文字*/
  background-color: #b3d4fc
  text-shadow: none

ul
  margin: 0
  padding: 0

li
  /*无序列表*/
  list-style: none

/* ==========
   工具样式
   ========== */

.center-block
  /*居中显示*/
  display: block
  margin-right: auto
  margin-left: auto

.pull-right
  /*右浮动*/
  float: right !important

.pull-left
  float: left !important

.text-right
  /*文本对其*/
  text-align: right !important

.text-left
  text-align: left !important

.text-center
  text-align: center !important

.hide
  /*隐藏，让出空间*/
  display: none !important

.show
  display: block !important

.invisible
  /*隐藏，占据空间*/
  visibility: hidden

.text-hide
  /*隐藏文本，用于图片链接*/
  font: 0/0 a
  color: transparent
  text-shadow: none
  background-color: transparent
  border: 0

.clearfix:before,
.clearfix:after
  /*伪元素，添加看不见的块元素*/
  content: " "
  display: table

.clearfix:after
  clear: both


/* ==========
   浏览器更新提示
   ========== */

.browserupgrade
  margin: 0
  padding: 1rem
  background: #ccc


/* ==========
   自定义页面样式
   ========== */

body
  /*字体大小：12px 行间距：1.5倍行间距*/
  /*rem继承于根标签「html」*/
  font-size: 1.2rem
  line-height: 1.5
  background-color: #f7f7f7/*浅灰色的背景色，接近白色*/

a
  color: #666
  text-decoration: none

a:hover, a:active
  color: #0ae
  text-decoration: underline
